
$leftBGColor: #30499B;
$leftBGColorDark: rgb(12, 18, 36);
$leftPrimaryColor: rgb(67, 110, 252);
$leftTextColor: #ffffff;
$leftTextColorDisable: #ffffffaa;

$leftCtlBGColor: $leftTextColorDisable;
$leftCtlTextColor: $leftBGColorDark;

$rightBGColor: #fff;
$rightTextColor: #000000;

$primaryColor: rgb(67, 110, 252);
$primaryTextColor: #ffffff;
$primaryColorLight: rgb(90, 130, 255);
$primaryTextColor: #ffffff;

$disabledTextColor: #555555;
$disabledColor: #aaaaaa;
$grayLine: #aaaaaa;
