
$leftBGColor: #30499B;
$leftBGColorDark: rgb(12, 18, 36);
$leftPrimaryColor: rgb(67, 110, 252);
$leftTextColor: #ffffff;
$leftTextColorDisable: #ffffffaa;

$leftCtlBGColor: $leftTextColorDisable;
$leftCtlTextColor: $leftBGColorDark;

$rightBGColor: #fff;
$rightTextColor: #000000;
